/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: opensans-bold;
  src: url("../fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: opensans-light;
  src: url("../fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: opensans-regular;
  src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: opensans-semibold;
  src: url("../fonts/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: roboto-bold;
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: roboto-medium;
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Myriad";
  src: url("../fonts/MyriadProRegular.ttf");
}
body {
  background-color: #fff;
  font-size: 16px;
  color: #fff;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
}

a {
  text-decoration: none;
}

.home {
  height: 110vh;
  background-image: url("../media/shutterstock-header.jpg");
  background-position: center;
  background-size: cover;
}

header .container {
  flex-direction: column;
}

.header-top {
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3px;
}

.social-container {
  display: flex;
}

.social-container a {
  color: white;
  margin-right: 30px;
  font-size: 12px;
  padding: 3px;
}

.social-container a:hover {
  color: #ffdd00;
}

.address {
  display: flex;
  font-family: opensans-regular;
  font-size: 12px;
  color: #fff;
  position: relative;
}

.address img {
  margin-right: 16px;
}

.address p {
  margin-right: 60px;
}

.login {
  display: flex;
  justify-content: space-between;
}

.login button {
  font-family: "Myriad";
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  border: none;
  background: none;
}

.login button:first-of-type {
  border-right: 1px solid #ffdd00;
  padding-right: 15px;
}

.login button:hover {
  color: #ffc001;
  cursor: pointer;
  font-size: 12px;
}

.header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 68px;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  background-color: rgba(0, 0, 0, 0.26);
}

.header-bottom img {
  position: relative;
  padding: 5px;
}

.nav-container ul {
  display: flex;
  padding: 5px;
  margin-left: 4px;
}

.nav-container li {
  margin-left: 45px;
}

.nav-container a {
  font-family: opensans-regular;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  padding: 5px;
}

.nav-container a:hover {
  color: #ffc001;
  cursor: pointer;
}

.mob-menu {
  display: none;
}

section .wr-about {
  height: 59vh;
}

.wr-about .container {
  flex-direction: column;
  justify-content: center;
  height: 70vh;
}

.about p {
  font-size: 20px;
  font-family: opensans-bold;
  color: #ffc001;
}

.about h1 {
  font-size: 48px;
  font-family: opensans-bold;
  color: #fff;
  padding-top: 33px;
}

.about p:last-child {
  font-size: 16px;
  font-family: opensans-regular;
  color: #fff;
  width: 639px;
  line-height: 2;
  margin-top: 26px;
}

.button button {
  border: 1px solid white;
  height: 45px;
  width: 171px;
  border-radius: 20px;
  background-color: #ffffff00;
  font-family: opensans-bold;
  font-size: 14px;
  color: #ffc001;
  font-size: 14px;
  text-transform: uppercase;
  word-spacing: 2;
  margin-top: 44px;
  padding: 5px;
}

.button span {
  vertical-align: middle;
  font-weight: 1000;
  padding-right: 6px;
}

.table-header {
  position: relative;
  top: -45px;
}

.wr-table .container {
  display: flex;
}

.table-header .b-tab {
  padding: 0;
  display: none;
}

.table-header .b-tab.active {
  display: block;
}

.table-header .b-nav-tab {
  display: inline-block;
  padding: 0;
  color: #000;
  font-size: 14px;
  font-family: opensans-regular;
  text-transform: uppercase;
  background-color: #fff;
}

.table-header .b-nav-tab.active {
  color: #fff;
  background-color: #ffc001;
}

.table-header button {
  width: 100px;
  height: 45px;
  box-sizing: border-box;
  padding: 0;
  text-align: center;
  position: relative;
  background: none;
  border: none;
}

.table-header button:first-of-type {
  height: 45px;
  width: 124px;
  padding-left: 21px;
}

.table-header button:first-of-type::before {
  content: "";
  position: absolute;
  display: inline-block;
  height: 45px;
  width: 24px;
  background-color: #ffc001;
  top: 0;
  left: 0;
}

.table-header form {
  width: 1170px;
  height: 188px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  position: relative;
  background-color: #fafafa;
  border-top: 2px solid #fff;
  z-index: 1;
}

.table-header form::before {
  content: "";
  position: absolute;
  background-color: #ffc001;
  height: 186px;
  width: 24px;
  z-index: 2;
  top: 0;
  left: 0;
}

.table-header p {
  color: #000;
  text-transform: uppercase;
  font-family: opensans-regular;
  font-size: 14px;
  padding-bottom: 12px;
}

.package .where,
.which,
.check-in,
.check-out {
  display: flex;
  flex-direction: column;
}

.package .where {
  box-sizing: border-box;
  margin-left: 39px;
}

.package .which {
  box-sizing: border-box;
  padding-left: 20px;
}

.package .check-in {
  box-sizing: border-box;
  padding-left: 18px;
}

.package .check-out {
  box-sizing: border-box;
  padding-right: 40px;
}

form select,
input {
  width: 190px;
  height: 50px;
  border: none;
  padding-left: 30px;
  margin-bottom: 9px;
}

.where p,
.which p,
.check-in p,
.check-out p {
  text-align: left;
}

form select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.table-header .submit {
  position: absolute;
  transform: rotate(90deg);
  right: 0;
  top: 67px;
  right: -28px;
  border: none;
  background: none;
}

.submit input {
  border: 1px solid #ffc001;
  color: #fff;
  font-size: 14px;
  font-family: opensans-semibold;
  text-transform: uppercase;
  background-color: #ffc001;
  height: 40px;
  width: 109px;
  padding: 3px;
}

.big-deal {
  margin: 0 auto;
}

.big-deal .container {
  background-image: url("../media/background-posst.jpg");
  height: 458px;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-repeat: no-repeat;
}

form {
  padding: 70px;
}
form h2 {
  font-size: 30px;
  font-family: opensans-bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 2;
}
form p {
  font-size: 16px;
  font-family: opensans-regular;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 6px;
  line-height: 3;
}
form input:nth-child(3) {
  width: 380px;
  height: 50px;
  padding: 0;
  padding-left: 30px;
}
form input:nth-child(4) {
  width: 100px;
  height: 50px;
  background: #1b2739;
  color: #fff;
  padding: 0;
  font-size: 14px;
  text-transform: uppercase;
  transform: translateX(-4px);
}

.promo-video {
  margin-top: -150px;
}

.video {
  margin: 0 auto;
  display: flex;
  position: relative;
}
.video video {
  margin: 0 auto;
  max-width: 630px;
  max-height: 330px;
}

.blog .container {
  justify-content: center;
  padding-bottom: 100px;
  padding-top: 100px;
}

.look-blog {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container-blog {
  width: 370px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 26px 30px 0px rgba(50, 50, 50, 0.18);
}

.blog-img {
  max-width: 370px;
}
.blog-img img {
  width: 100%;
}

.blog-data {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  padding: 28px 30px 0 30px;
}
.blog-data p {
  color: #d1d2d1;
  font-size: 12px;
  font-family: opensans-semibold;
  text-transform: uppercase;
}

.blog-about {
  color: #000;
  max-width: 290px;
  padding: 14px 30px;
  height: 153px;
}
.blog-about h3 {
  font-size: 20px;
  font-family: opensans-regular;
}
.blog-about p {
  font-size: 15px;
  font-family: opensans-light;
  line-height: 2;
}

.blog-icon ul {
  display: flex;
  padding-left: 30px;
}
.blog-icon ul li:nth-child(1) {
  color: #fbb212;
  background-image: url("../media/back-icon1.png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
}
.blog-icon ul li:nth-child(2) {
  color: #4fcba3;
  background-image: url("../media/back-icon2.png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
}
.blog-icon ul li:nth-child(3) {
  color: #1b2739;
  background-image: url("../media/back-icon3.png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
}
.blog-icon ul li:hover {
  cursor: pointer;
  color: gold;
}

.descriptin {
  background-image: url("../media/bg.jpg");
  background-position: center;
  background-size: cover;
}

.descriptin .container {
  align-items: center;
  justify-content: space-between;
  padding-top: 150px;
  padding-bottom: 150px;
}

.descriptin-discount {
  height: 310px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition-duration: 0.3px;
}
.descriptin-discount p:first-child {
  font-size: 16px;
  font-family: opensans-semibold;
  text-transform: uppercase;
  color: #ffc001;
}
.descriptin-discount span {
  font-size: 40px;
  font-family: opensans-bold;
  color: #000;
}
.descriptin-discount h2 {
  font-size: 38px;
  color: #000;
  font-family: opensans-bold;
  text-transform: capitalize;
}
.descriptin-discount p:nth-child(3) {
  font-size: 15px;
  font-family: opensans-regular;
  color: #000;
  max-width: 440px;
  line-height: 2;
}

.descriptin-discount button {
  border: none;
  background: none;
  width: 140px;
  height: 40px;
  border-radius: 5px;
  background-color: #ffc001;
  color: #fff;
  font-size: 14px;
  font-size: opensans-bold;
  text-transform: uppercase;
}

.descriptin-discount button:hover {
  width: 142px;
  height: 42px;
  font-size: 16px;
  box-shadow: -1px -8px 17px 0px rgba(50, 50, 50, 0.39);
}

.slider-descriptin {
  max-width: 600px;
}
.slider-descriptin img {
  width: 100%;
  max-height: 400px;
}

.hurry {
  background-color: #f9f9f9;
}

.hurry .container {
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 120px;
}

.ticket {
  margin: 0 auto;
  text-align: center;
  transition-duration: 0.5s;
}
.ticket h2 {
  font-size: 30px;
  color: #000;
  font-family: opensans-bold;
  text-transform: uppercase;
  line-height: 3;
}
.ticket p {
  font-size: 15px;
  font-family: opensans-light;
  color: #000;
  max-width: 735px;
  line-height: 2;
}
.ticket button {
  background: none;
  width: 170px;
  height: 45px;
  background-color: #fff;
  color: #fbad03;
  font-size: 14px;
  text-transform: uppercase;
  font-family: opensans-bold;
  border: 1px solid #fbad03;
  border-radius: 25px;
  margin-top: 20px;
}
.ticket span {
  padding-right: 4px;
}

button:hover {
  font-size: 16px;
  box-shadow: 0px -5px 19px 0px rgba(50, 50, 50, 0.48);
}

.counter {
  margin-top: 20px;
}

.countdown {
  font-family: roboto-bold;
  font-size: 36px;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 690px;
}

.countdown-number {
  padding: 10px;
  display: inline-block;
}

.countdown-time {
  padding: 15px;
  display: inline-block;
}

.countdown-text {
  display: block;
  padding-top: 5px;
  font-size: 16px;
  font-family: roboto-medium;
}

.countdown-number .days {
  color: #fbad03;
}

.countdown-number:nth-child(1) {
  color: #fbad03;
  text-transform: uppercase;
}

.countdown-number .hours {
  color: #ef6f6c;
}

.countdown-number:nth-child(2) {
  color: #ef6f6c;
  text-transform: uppercase;
}

.countdown-number .minutes {
  color: #28c190;
}

.countdown-number:nth-child(3) {
  color: #28c190;
}

.countdown-number .seconds {
  color: #333333;
}

.countdown-number:nth-child(4) {
  color: #333333;
}

.promo-slide {
  margin-top: -150px;
}

.slide-hurry {
  margin: 0 auto;
  max-width: 760px;
}

.slider-hurry {
  max-width: 770px;
  box-shadow: 0px 9px 21px 0px rgba(50, 50, 50, 0.33);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 35px;
}

.slide-sale {
  width: 360px;
}

.slide-sale img {
  height: 300px;
  width: 360px;
}

.hurry-sale {
  height: 290px;
  width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px 15px;
}
.hurry-sale h3 {
  font-size: 24px;
  font-family: opensans-semibold;
  color: #000;
  line-height: 2;
}
.hurry-sale p {
  font-size: 16px;
  font-family: opensans-regular;
  color: #000;
  line-height: 2;
  display: flex;
  display: flex;
  align-items: center;
  padding-left: 2px;
}
.hurry-sale p:last-of-type {
  font-size: 40px;
  font-family: opensans-semibold;
  color: #fbad03;
}

.get-ticket button {
  border: none;
  background: none;
  width: 170px;
  height: 45px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: opensans-bold;
  background-color: #fcbd35;
  color: #fff;
  transform: rotate(-90deg);
}

.slide-hurry.slick-next {
  right: -100px;
}

.slide-hurry.slick-prev {
  right: -100px;
}

.mob-img {
  display: none;
}

footer {
  background-image: url("../media/footer-bg.jpg");
  background-position: center;
  background-size: cover;
}

footer .container {
  flex-direction: column;
  justify-content: space-between;
  padding-top: 114px;
  padding-bottom: 45px;
  padding-right: 108px;
  height: 465px;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  height: 255px;
  padding-bottom: 80px;
}
.footer-menu div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 255px;
}
.footer-menu div a {
  padding-top: 5px;
  padding-bottom: 20px;
}
.footer-menu div p {
  color: #fff;
  font-size: 14px;
  font-family: opensans-regular;
}
.footer-menu div ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 180px;
  height: 13px;
  padding: 5px;
  padding-top: 26px;
}
.footer-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}
.footer-menu ul button {
  color: #fff;
  font-size: 16px;
  font-family: opensans-semibold;
  text-transform: uppercase;
  background: none;
  border: none;
  border-bottom: 1px solid #ffc001;
  padding-bottom: 9px;
  width: 24px;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 12px;
}
.footer-menu ul button:hover {
  color: #ffc001;
}
.footer-menu ul li a {
  color: #fff;
  font-size: 14px;
  font-family: opensans-regular;
}
.footer-menu ul li a:hover {
  color: #ffc001;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}
.footer-bottom ul {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.footer-bottom ul li,
.footer-bottom ul a {
  font-size: 13px;
  font-family: opensans-regular;
  color: #6b727d;
}
.footer-bottom ul:first-of-type {
  width: 270px;
  justify-content: space-between;
}
.footer-bottom ul:last-of-type {
  width: 550px;
  justify-content: space-between;
}
.footer-bottom a:hover {
  cursor: pointer;
  color: #fff;
}

.footer-menu-mob {
  display: none;
}

.honeymoon .container {
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-honeymoon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
}
.about-honeymoon h2 {
  font-size: 30px;
  font-family: opensans-semibold;
  padding: 0;
}
.about-honeymoon p {
  font-size: 16px;
  font-family: opensans-regular;
  max-width: 657px;
  width: 100%;
  text-align: center;
  line-height: 2;
  margin-top: 30px;
  margin-bottom: 53px;
}

.discount-honeymoon {
  max-width: 620px;
  min-width: 335px;
  padding-top: 50px;
  box-shadow: 0px -2px 10px 0px rgba(50, 50, 50, 0.42);
  margin: 5px;
  margin-bottom: 51px;
  margin-top: 10px;
  display: flex;
}

.discount-about {
  position: relative;
  max-width: 307px;
  display: flex;
  align-items: flex-end;
}
.discount-about .sea {
  width: 100%;
}
.discount-about .icon-link {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0;
}
.discount-about .icon-link a {
  max-width: 30px;
  max-height: 30px;
  background-color: #33312ee5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0;
  margin-left: 3px;
  padding: 3px;
}
.discount-about .icon-link a:hover {
  background-color: #ffc001;
}

.offer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom: 0;
  right: 0;
  transition-duration: 0.3s;
}
.offer h2 {
  font-size: 24px;
  color: #000;
  font-family: opensans-semibold;
  padding-left: 5px;
  padding-right: 5px;
}
.offer p:nth-child(2) {
  font-size: 24px;
  color: #ffc001;
  font-family: opensans-bold;
  padding-left: 5px;
  padding-right: 5px;
}
.offer p:nth-child(3) {
  max-width: 142px;
  padding-right: 5px;
  font-size: 16px;
  color: #000;
  font-family: opensans-regular;
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
}
.offer p:nth-child(4) {
  font-size: 15px;
  color: #000;
  font-family: opensans-regular;
  max-width: 182px;
  line-height: 2;
  padding-left: 5px;
  padding-right: 5px;
}
.offer p:nth-child(5) {
  padding-left: 5px;
  padding-right: 5px;
}
.offer button {
  font-size: 16px;
  color: #ffc001;
  font-family: opensans-semibold;
  text-transform: uppercase;
  border: none;
  background: none;
  margin-left: 0;
  padding: 5px;
}
.offer button:hover {
  height: 30px;
  width: 100%;
  background-color: #ffc001;
  color: #fff;
  padding: 0;
  left: 0;
  bottom: 0;
  box-shadow: -1px -8px 17px 0px rgba(50, 50, 50, 0.39);
}

.populer {
  background-image: url("../media/populer.png");
  background-position: center;
  background-size: cover;
}

.populer .container {
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
}

.popular-place {
  display: flex;
  flex-direction: column;
}
.popular-place p {
  font-size: 14px;
  font-family: opensans-semibold;
  color: #ffd041;
  text-transform: uppercase;
}
.popular-place h2 {
  font-size: 30px;
  font-family: opensans-bold;
  color: #333333;
  text-transform: uppercase;
  margin-top: 24px;
  margin-left: 0;
  padding-left: 0;
}

.slider {
  position: relative;
  margin: 12px;
  margin-bottom: 20px;
}
.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 94px;
  background-color: #fbfbfba1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 1s;
}

.slide-footer h3 {
  color: #333333;
  font-size: 16px;
  font-family: opensans-semibold;
  position: relative;
  opacity: 0;
}

.slide-footer p {
  font-size: 20px;
  color: #333333;
  font-family: opensans-semibold;
}

.slide-footer .show-icon {
  bottom: 0;
  transform: translateY(50%);
  opacity: 0;
}

.slider:hover .slide-footer {
  cursor: pointer;
  height: 164px;
  background-color: #ffc00179;
}
.slider:hover h3 {
  opacity: 1;
  line-height: 4;
}
.slider:hover .show-icon {
  opacity: 1;
  width: 57px;
  height: 57px;
}

.slick-dots li button {
  border: 1px solid #ffc0016f;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: border-color 0.3s;
}

.slick-dots li button:before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  opacity: 1;
  margin-top: -1px;
  margin-left: -1px;
  margin-right: px;
  bottom: 50%;
  right: 50%;
  transition: border-color 0.3s;
}

.slick-dots li button:hover,
.slick-dots li.slick-active button {
  background-color: rgba(255, 191, 0, 0.442);
}

.slick-dots li button:hover:before,
.slick-dots li.slick-active button:before {
  background-color: #ffbf00;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slide-place.slick-dots {
  bottom: 46px;
}

.see .container {
  max-width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
  padding-top: 20px;
}

.heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  background-image: url("../media/populer-place.png");
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
}

.heading h2 {
  margin-top: 18px;
  font-size: 30px;
  font-family: opensans-bold;
  color: #333333;
  text-align: center;
}

.heading p {
  font-size: 16px;
  font-family: opensans-regular;
  color: #333333;
  text-align: center;
  max-width: 660px;
  line-height: 2;
  padding-top: 17px;
  margin: 0 auto;
}

.norway {
  position: relative;
}
.norway img {
  width: 100%;
  height: 580px;
  object-fit: cover;
}

.country {
  width: 470px;
  height: 205px;
  border-radius: 5px;
  box-shadow: 0px 1px 21px 0px rgba(50, 50, 50, 0.4);
  background-color: #fbfbfb74;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: -100px;
  margin-bottom: 27px;
}

.country-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.country p {
  font-size: 24px;
  font-family: opensans-bold;
  color: rgba(0, 0, 0, 0.972);
  text-align: center;
  line-height: 3;
}

.slide-norway {
  margin-top: 83px;
}

.social-norway {
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  border: 1px solid #ffdd00;
  width: 194px;
  height: 38px;
}

.social-norway a {
  color: #ffdd00;
  vertical-align: middle;
  text-align: center;
  border-right: 1px solid #ffdd00;
  height: 16px;
  padding: 11px;
}

.social-norway a:last-child {
  border-right: none;
}

.slick-prev,
.slick-next {
  z-index: 1002;
  width: 17px;
  height: 28px;
}

.slick-prev::before,
.slick-next::before {
  display: none;
}

.slick-prev,
.slick-prev:hover,
.slick-prev:focus {
  background-image: url("../media/slider-left-btn.png");
}

.slick-next,
.slick-next:hover,
.slick-next:focus {
  background-image: url("../media/slider-right-btn.png");
}

.slick-prev {
  left: 145px;
}

.slick-next {
  right: 145px;
}

.slide-norway.slick-dots {
  bottom: 140px;
}

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.see .slick-dots {
  bottom: 67px;
}

@media all and (max-width: 320px) {
  .container {
    max-width: 310px;
    padding: 0 5px;
  }

  section .wr-about {
    width: 100%;
  }

  .header-top,
.header-bottom {
    display: none;
  }

  .mob-menu {
    display: block;
    position: relative;
    display: flex;
    justify-content: center;
  }

  .gamburger {
    border: none;
    width: 40px;
    height: 40px;
    border: 2px solid #ffc001;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);
    font-size: 20px;
    color: #ffc001;
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
  }

  .gamburger:hover {
    border: 1px solid #ffc001;
  }

  .mob-menu .menu {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: 40vw;
    height: 70vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -100vw;
    top: 58px;
    transition-duration: all 3s;
    opacity: 0.95;
  }

  .mob-menu .menu-active {
    left: 0;
    padding-left: 0;
  }

  .mob-menu ul a {
    padding: 5px;
    display: block;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    transition-duration: all 2s;
    justify-content: center;
  }
  .mob-menu ul a:hover {
    color: #ffc001;
  }

  .header-login {
    text-align: center;
    padding: 4px;
  }

  .login button:first-of-type {
    padding-right: 6px;
  }

  .login button {
    border: none;
    background: none;
    color: #fff;
    font-size: 14px;
    right: 3px;
    padding: 4px;
    position: relative;
  }

  .login button:hover {
    font-size: 14px;
    background: none;
    background-color: none;
  }

  .social-container {
    display: flex;
    justify-content: center;
  }
  .social-container a {
    margin: 0;
    padding: 5px;
  }
  .social-container a:hover {
    display: block;
    border: none;
    background: none;
  }

  .about {
    text-align: center;
    padding: 0;
    max-width: 250px;
  }
  .about p {
    font-size: 13px;
    max-width: 250px;
    margin-top: 15px;
    margin: 0;
  }
  .about p:nth-child(3) {
    line-height: 1.5;
  }
  .about h1 {
    padding-top: 10px;
    font-size: 21px;
  }

  .wr-about .container {
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }

  .wr-about .button {
    text-align: center;
  }

  .wr-about button {
    margin-top: 54px;
    text-align: center;
    justify-content: center;
    height: 32px;
    width: 136px;
  }

  .wr-about button:hover {
    color: #fff;
    font-size: 14px;
  }

  .wr-table .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .table-header {
    position: relative;
    top: -30px;
  }
  .table-header p {
    font-size: 12px;
  }

  .table-header .b-nav-tab {
    font-size: 10px;
  }

  .table-header button {
    width: 50px;
    height: 30px;
  }

  .table-header button:first-of-type {
    height: 30px;
    width: 74px;
    padding-left: 21px;
  }

  .table-header form {
    width: 90vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    position: relative;
    background-color: #fafafa;
    border-top: 2px solid #fff;
    z-index: 1;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .table-header form::before {
    display: none;
  }

  .package .where {
    box-sizing: border-box;
    margin-left: 0;
  }

  .package .which {
    box-sizing: border-box;
    padding-left: 0;
  }

  .package .check-in {
    box-sizing: border-box;
    padding-left: 0;
  }

  .package .check-out {
    box-sizing: border-box;
    padding-right: 0;
  }

  form select,
input {
    width: 130px;
    height: 30px;
    border: none;
    padding-left: 5px;
    margin-bottom: 3px;
  }

  .table-header .submit {
    position: initial;
    transform: none;
    border: none;
    background: none;
    transform: none;
    margin-top: 10px;
  }

  .submit input {
    height: 31px;
    width: 105px;
    padding: 3px;
    border-radius: 3px;
  }

  .submit input:hover {
    box-shadow: 0px 9px 21px 0px rgba(50, 50, 50, 0.33);
  }

  .populer .container {
    padding-top: 35px;
    padding-bottom: 40px;
  }

  .populer .popular-place {
    align-items: center;
  }
  .populer .popular-place h2 {
    font-size: 25px;
  }

  .populer.slider-place {
    margin-top: 15px;
  }

  .populer .slider {
    margin: 6px;
    margin-bottom: 17px;
  }

  .populer .slide-footer {
    height: 62px;
  }

  .heading {
    background-origin: border-box;
    background-repeat: space;
    background-position: center;
    background-size: contain;
    padding-top: 15px;
  }
  .heading h2 {
    font-size: 25px;
    margin-top: 0;
  }
  .heading p {
    line-height: 1;
  }

  .see .container {
    padding-top: 12px;
  }

  .see .country {
    margin-top: -46px;
    width: 234px;
    height: 115px;
  }

  .see .slide-norway {
    margin-top: 11px;
  }

  .see.slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  .norway img {
    height: 243px;
  }

  .honeymoon .container {
    padding-top: 18px;
    padding-bottom: 50px;
  }

  .about-honeymoon {
    text-align: center;
  }
  .about-honeymoon h2 {
    font-size: 23px;
  }
  .about-honeymoon p {
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .discount-honeymoon {
    padding-top: 10px;
    max-width: 320px;
    min-width: 150px;
    margin-bottom: 51px;
    margin-top: 28px;
  }

  .offer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    bottom: 0;
    right: 0;
    transition-duration: 0.3s;
  }
  .offer h2 {
    font-size: 16px;
    color: #000;
    font-family: opensans-semibold;
    padding-left: 5px;
    padding-right: 5px;
  }
  .offer p:nth-child(2) {
    font-size: 16px;
    color: #ffc001;
    font-family: opensans-bold;
    padding-left: 5px;
    padding-right: 5px;
  }
  .offer p:nth-child(3) {
    max-width: 142px;
    padding-right: 5px;
    font-size: 11px;
    color: #000;
    font-family: opensans-regular;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
  }
  .offer p:nth-child(4) {
    font-size: 12px;
    color: #000;
    font-family: opensans-regular;
    max-width: 182px;
    line-height: 1;
    padding-left: 5px;
    padding-right: 5px;
  }
  .offer p:nth-child(5) {
    padding-left: 5px;
    padding-right: 5px;
  }
  .offer button {
    font-size: 12px;
  }
  .offer button:hover {
    height: 20px;
  }

  .descriptin .container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 21px;
    padding-bottom: 25px;
  }

  .descriptin-discount {
    /* height: 310px; */
    padding-top: 0px;
    padding-bottom: 12px;
    height: 100%;
  }
  .descriptin-discount p:first-child {
    font-size: 13px;
  }
  .descriptin-discount span {
    font-size: 20px;
  }
  .descriptin-discount h2 {
    font-size: 20px;
  }
  .descriptin-discount p:nth-child(3) {
    font-size: 13px;
    line-height: 1.5;
  }
  .descriptin-discount button {
    font-size: 11px;
    width: 115px;
    height: 25px;
  }
  .descriptin-discount button:hover {
    font-size: 11px;
    width: 122px;
    height: 30px;
  }

  .slider-descriptin {
    align-items: center;
    max-width: 300px;
  }

  .descriptin .slick-next {
    right: 20px;
  }

  .descriptin .slick-prev {
    left: 20px;
  }

  .hurry .container {
    padding-top: 5px;
  }

  .ticket h2 {
    font-size: 18px;
  }
  .ticket p {
    line-height: 1.5;
  }
  .ticket button {
    width: 127px;
    height: 28px;
    margin-top: 5px;
  }

  section .slide-hurry {
    display: none;
  }

  .mob-img {
    display: block;
    text-align: center;
    padding: 20px;
  }
  .mob-img img {
    max-width: 310px;
    width: 100%;
  }

  .counter {
    margin-top: 0px;
    margin-bottom: 27px;
  }

  .countdown {
    font-family: roboto-bold;
    font-size: 20px;
    color: #fff;
    display: inline-block;
    font-weight: 90;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .countdown-text {
    display: block;
    padding-top: 3px;
    font-size: 10px;
    font-family: roboto-medium;
  }

  .countdown-number {
    padding: 4px;
  }

  .big-deal .container {
    background-image: url("../media/background-posst.jpg");
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-repeat: no-repeat;
  }

  form {
    padding: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  form h2 {
    font-size: 20px;
    font-family: opensans-bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 2;
  }
  form p {
    font-size: 16px;
    font-family: opensans-regular;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0;
    line-height: 3;
  }
  form input:nth-child(3) {
    width: 200px;
    height: 30px;
    padding: 0;
    padding-left: 10px;
  }
  form input:nth-child(4) {
    width: 70px;
    height: 30px;
    background: #1b2739;
    color: #fff;
    padding: 0;
    font-size: 9px;
    text-transform: uppercase;
    border-radius: 3px;
  }

  .promo-video {
    display: none;
  }

  #blog-marker {
    display: block;
  }

  .blog .container {
    padding-bottom: 9px;
    padding-top: 16px;
  }

  .look-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .look-blog .container-blog {
    max-width: 300px;
  }
  .look-blog img {
    display: none;
  }

  .footer-menu {
    display: none;
  }

  .footer-bottom {
    display: none;
  }

  footer .container {
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
    height: 100%;
  }

  .footer-menu-mob {
    display: flex;
    flex-direction: column;
  }
  .footer-menu-mob div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-menu-mob div p {
    color: #fff;
    font-size: 10px;
    font-family: opensans-regular;
  }
  .footer-menu-mob div ul {
    display: flex;
  }
  .footer-menu-mob div ul li {
    padding: 3px;
  }
  .footer-menu-mob div ul a {
    color: #fff;
    font-size: 10px;
  }
  .footer-menu-mob div ul a:hover {
    color: #ffc001;
  }
  .footer-menu-mob .footer-bottom {
    justify-content: start;
  }
  .footer-menu-mob .footer-bottom ul {
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .footer-menu-mob .footer-bottom ul li {
    padding-left: 3px;
    font-size: 9px;
  }
  .footer-menu-mob .footer-bottom ul a {
    font-family: opensans-regular;
    color: #6b727d;
  }
  .footer-menu-mob .footer-bottom ul li:hover {
    cursor: pointer;
    color: #fff;
  }
}

/*# sourceMappingURL=styles.css.map */
