.big-deal {
    margin: 0 auto;
}

.big-deal .container {
    background-image: url("../media/background-posst.jpg");
    height: 458px;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
}

form {
    padding: 70px;
    h2 {
        font-size: 30px;
        font-family: opensans-bold;
        text-transform: uppercase;
        text-align: center;
        line-height: 2;
    }
    p {
        font-size: 16px;
        font-family: opensans-regular;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 6px;
        line-height: 3;
    }
    input:nth-child(3) {
        width: 380px;
        height: 50px;
        padding: 0;
        padding-left: 30px;
    }
    input:nth-child(4) {
        width: 100px;
        height: 50px;
        background: #1b2739;
        color: #fff;
        padding: 0;
        font-size: 14px;
        text-transform: uppercase;
        transform: translateX(-4px);
    }
}

.promo-video {
    margin-top: -150px;
}

.video {
    margin: 0 auto;
    display: table;
    width: auto;
    position: relative;
    video {
        margin: 0 auto;
        max-width: 630px;
        max-height: 330px;
    }
}

.video-traveling {
    // position: relative;
}

.playpause {
    background-image: url("../media/watching-video.png");
    background-repeat: no-repeat;
    width: 10%;
    height: 10%;
    position: absolute;
    left: 30px;
    bottom: 30px;
    margin: auto;
    background-size: contain;
    background-position: center;
}

.playpause:hover {
    cursor: pointer;
}

.video span {
    font-size: 16px;
    text-transform: uppercase;
    font-family: opensans-semibold;
    position: relative;
    left: 66px;
    width: 183px;
    display: flex;
    bottom: -8px;
}