.hurry {
    background-color: #f9f9f9;
    height: 100%;
}

.hurry .container {
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    margin: 0 auto;
    margin-bottom: 200px;
}

.ticket {
    margin: 0 auto;
    text-align: center;
    transition-duration: .5s;
    h2 {
        font-size: 30px;
        color: #000;
        font-family: opensans-bold;
        text-transform: uppercase;
        line-height: 3;
    }
    p {
        font-size: 15px;
        font-family: opensans-light;
        color: #000;
        max-width: 735px;
        line-height: 2;
    }
    button {
        background: none;
        width: 170px;
        height: 45px;
        background-color: #fff;
        color: #fbad03;
        font-size: 14px;
        text-transform: uppercase;
        font-family: opensans-bold;
        border: 1px solid #fbad03;
        border-radius: 25px;
        margin-top: 60px;
    }
}

button:hover {
    font-size: 16px;
    box-shadow: 0px -5px 19px 0px rgba(50, 50, 50, 0.48);
    // transform: translateY(5px);
}

// counter
.counter {
    margin-top: 70px;
}

.countdown {
    font-family: roboto-bold;
    font-size: 36px;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 690px;
}

.countdown-number {
    padding: 10px;
    display: inline-block;
}

.countdown-time {
    padding: 15px;
    display: inline-block;
}

.countdown-text {
    display: block;
    padding-top: 5px;
    font-size: 16px;
    font-family: roboto-medium;
}

.countdown-number .days {
    color: #fbad03;
}

.countdown-number:nth-child(1) {
    color: #fbad03;
    text-transform: uppercase;
}

.countdown-number .hours {
    color: #ef6f6c;
}

.countdown-number:nth-child(2) {
    color: #ef6f6c;
    text-transform: uppercase;
}

.countdown-number .minutes {
    color: #28c190;
}

.countdown-number:nth-child(3) {
    color: #28c190;
}

.countdown-number .seconds {
    color: #333333;
}

.countdown-number:nth-child(4) {
    color: #333333;
}

// clider
.slide-hurry {
    margin: 0 auto;
    padding: 4px;
    max-width: 768px;
    transform: translateY(150px);
}

.slider-hurry {
    // padding: 5px;
    max-width: 770px;
    height: 300px;
    box-shadow: 0px 26px 30px 0px rgba(50, 50, 50, 0.18);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.slide-sale {
    width: 350px;
}

.slide-sale img {
    height: 300px;
    width: 350px;
}

.hurry-sale {
    height: 300px;
    width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px 15px;
    h3 {
        font-size: 24px;
        font-family: opensans-semibold;
        color: #000;
        line-height: 2;
    }
    p {
        font-size: 16px;
        font-family: opensans-regular;
        color: #000;
        line-height: 2;
        display: flex;
        display: flex;
        align-items: center;
        padding-left: 2px;
    }
    p:last-of-type {
        font-size: 40px;
        font-family: opensans-semibold;
        color: #fbad03;
    }
}

.get-ticket button {
    border: none;
    background: none;
    width: 170px;
    height: 45px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: opensans-bold;
    background-color: #fcbd35;
    color: #fff;
    transform: rotate(-90deg);
}